.container {
  h1 {
    font-size: 2em;
    @include sm {
      font-size: 3em;
    }
  }
  h2 {
    font-size: 1em;
    @include sm {
      font-size: 1.6em;
    }
  }
  p {
    font-size: 0.8em;
    @include sm {
      font-size: 1.2em;
    }
  }
  .header {
    margin: 10px 20px 0px 20px;
    @include sm {
      font-size: 1.5em;
      font-weight: 200;
      margin-bottom: 0;
    }
  }
  .about {
    margin: 15px 20px;
  }
  // .resume {
  //   margin: 20px;
  //   h2 {
  //     font-size: 1em;
  //     @include sm {
  //       font-size: 1.5em;
  //     }
  //   }
  //   h3 {
  //     font-size: 0.9em;
  //     @include sm {
  //       font-size: 1.2em;
  //     }
  //   }
  //   h4 {
  //     font-size: 0.8em;
  //     @include sm {
  //       font-size: 1em;
  //     }
  //   }
  //   p {
  //     @include sm {
  //       font-size: 0.8em;
  //     }
  //   }
  // }

  .work,
  .resume {
    margin: 20px;
    h2 {
      font-size: 1em;
      @include sm {
        font-size: 1.5em;
      }
    }
    h3 {
      font-size: 0.9em;
      @include sm {
        font-size: 1.2em;
      }
    }
    h4 {
      font-size: 0.8em;
      @include sm {
        font-size: 1em;
      }
    }
    p {
      color: $Grey2;
      @include sm {
        font-size: 0.8em;
      }
    }
  }
  .skills {
    h2 {
      @include sm {
        font-size: 1.5em;
      }
    }
    margin: 20px;
    ul {
      padding-left: 0;
    }
    li {
      text-transform: uppercase;
      background-color: #ddd;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      border-radius: 16px;
      font-size: 0.8em;
    }
  }
  .footer {
    text-align: center;
    margin: 20px;
    p {
      margin-bottom: 0;
      @include sm {
        font-size: 1em;
      }
    }
    i {
      margin-top: 10px;
      font-size: 1.5em;
      @include sm {
        padding: 0 5px;
        font-size: 2em;
      }
    }
  }

  .blog {
    font-size: 0.9em;
    @include sm {
      font-size: 1.2em;
    }
    margin: 20px;

    .blog-list {
      list-style-type: disc;
      padding-left: 40px;
      transition: all 0.5s ease-in-out;
    }
    .active-list {
      list-style-type: none;
      padding: 0 !important;
    }

    .active-blog {
      transition: all 0.5s ease-in-out;

      font-size: 0.8em;
      list-style: none;
      .blog-title {
        color: $Teal;
        font-weight: 600;
      }
      &:hover {
        color: $Navy;
        text-decoration: none;
      }
      .back-btn {
        font-weight: 200;
        transition: color 0.2s ease;
        &:hover {
          color: $Teal;
          text-decoration: underline;
        }
      }
    }
    .inactive-blog {
      display: none;
    }
  }
}

a,
.blog li {
  text-decoration: none;
  color: $Navy;
  transition: color 0.2s ease;
  &:hover {
    color: $Teal;
    text-decoration: underline;
  }
}

.title {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.fade {
  opacity: 0;
}
